[user]
	name = Alexey Levzhinsky
	email = alex_lev89@mail.ru
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[core]
	editor = gmate -w
